@model IEnumerable<Great_Groomer.Models.GroomService>

@{
    ViewBag.Title = "Groom Services";
}

<h2>Groom Services</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroomServiceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceName)
        </th>
        <th>
            Cost (¢)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceDuration)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroomServiceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDuration)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.GroomServiceID }) |
                @Html.ActionLink("Details", "Details", new { id = item.GroomServiceID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.GroomServiceID })
            </td>
        </tr>
    }

</table>
