@model Great_Groomer.Models.Groomer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Groomer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroomerDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroomerDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroomerRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroomerRate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
